@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  /* src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf'); */
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}


/* Add more @font-face rules for other weights and styles as needed */

body, html {
    background-color: black;
    font-family: 'poppins', sans-serif;
    /* font-family: 'montserrat', sans-serif; */
    font-weight: 500;
  }