@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'TT Hoves Pro';
    src: url('../assets/TT Hoves Pro Trial Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body, html {
    background-color: black;
  }